.RCB {
  background: linear-gradient(to bottom, #a4261d, #1e293b);
}
.KKR {
  background: linear-gradient(to bottom, #5755a7, #1e293b);
}
.KXP {
  background: linear-gradient(to bottom, #d91c1f, #1e293b);
}
.CSK {
  background: linear-gradient(to bottom, #f7db00, #1e293b);
}
.RR {
  background: linear-gradient(to bottom, #da237b, #1e293b);
}
.MI {
  background: linear-gradient(to bottom, #13418b, #1e293b);
}
.SH {
  background: linear-gradient(to bottom, #f26d22, #1e293b);
}
.DC {
  background: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.loader {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tm-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Bree Serif;
  color: #fff;
}

.banner-container {
  width: 100%;
}
.banner-img {
  width: 100%;
}
.list-container {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 760px;
}
@media screen and (min-width: 768px) {
  .tm-bg-container {
  }
  .banner-container {
    width: 80%;
    margin-top: 30px;
  }
  .list-container {
    width: 80%;
  }
}
